body {
  font-family: "Lato" !important;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  background-color: #f77124;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#display {
  grid-column: span 4;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
#hero {
  max-width: 400px;
}
.main_ {
  background: linear-gradient(#4d14d2, #f1f1f1);
  color: #f1f1f1;
  display: flex;
  justify-content: center;
}
